@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --navbar-height: 120px;
  --light: #fcfcfc;
  --dark: #080808;
  --accent: deepskyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

#navbar {
  display: flex;
  align-items: flex-end;
  height: var(--navbar-height);
  background-color: var(--dark);
}

#navbar ul {
  display: flex;
  width: 100%;
}

#navbar ul li {
  position: relative;
  padding: 1rem;
  color: var(--light);
  font-size: 1.25rem;
  font-weight: 400;
  list-style: none;
  transition: 0.3s ease-in-out;
}

#navbar ul li:hover {
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
}

#navbar ul li a {
  color: var(--light);
  text-decoration: none;
}

#navbar ul li:hover a{
  color: var(--dark);
}

#navbar ul li ul {
  display: none;
}

#navbar ul li:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 240px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
}

#navbar ul li:hover ul li a {
  color: var(--dark);
  transition: 0.3s ease-in-out;
}

#navbar ul li:hover ul li:hover a {
  color: var(--accent);
}

#navbar ul li:hover ul li span {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--light);
  font-size: 0.9rem;
}