@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --navbar-height: 120px;
  --light: #fcfcfc;
  --dark: #080808;
  --accent: deepskyblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}