.main-nav .container {
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.25rem;
}

.main-nav ul {
  justify-self: center;
}

.main-nav li a {
  padding: 0.5rem;
}

.main-nav .social {
  display: none;
}

.home-articles .articles-container{
  grid-template-columns: repeat(2, 1fr);
}

.home-articles .articles-container .card:first-child,
.home-articles .articles-container .card:last-child {
  grid-column: 1;
  grid-template-columns: 1fr;
}

@media(max-width: 600px) {
  .container {
    padding: 0 1rem;
  }

  .showcase {
    padding: 1rem;
  }

  .showcase .showcase-container {
    height: auto;
  }

  .showcase h1 {
    font-size: 1.5rem;
  }

  .showcase .showcase-container,
  .home-articles .articles-container,
  .footer-container {
    grid-template-columns: 1fr;
  }
  
  .footer-container > *:last-child {
    grid-column: 1;
  }

  .footer-container input,
  .footer-container .list li {
    width: 100%;
  }
}