.section-work-a {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .grid__item {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $main-color;
        opacity: 0.9;
        transform: scale(2) rotate(-45deg) translate3d(0, -95%, 0);
        transition: transform 2.5s cubic-bezier(0.2, 1, 0.3, 1);
      }

      .item__image {
        position: relative;

        img {
          display: block;
          transition: transform 0.75s cubic-bezier(0.2, 1, 0.3, 1);
        }

        figcaption {
          @extend %flex-center;
          flex-direction: column;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 1rem;
          color: #fff;
          line-height: 1.2;
          letter-spacing: 0.05rem;
          opacity: 0;
          z-index: 1;
          transform: translateY(-40%);
          transition-property: opacity, transform;
          transition-duration: 0.75s;
          transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

          .image__title {
            font-size: 2rem;
          }

          .image__category {
            font-size: 1.2rem;
            text-transform: uppercase;
          }
        }
      }

      &:hover::before {
        transform: scale(2) rotate(-45deg) translate3d(0, 0, 0);
      }

      &:hover .item__image img {
        transform: scale(1.2);
      }

      &:hover .item__image figcaption {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}