@media(max-width: 800px) {
  .header__content {
    h1 {
      font-size: 3rem;
    }
  }

  .section-home {
    &-a {
      .specials {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-b {
      .stats {
        grid-template-columns: repeat(2, 1fr);
  
        ul {
          &:nth-child(2),
          &:nth-child(3) {
            background-color: $medium-color;
            color: set-text-color($medium-color);
          }
  
          &:nth-child(1),
          &:nth-child(4) {
            background-color: $light-color;
            color: set-text-color($light-color);
          }
        }
      }
    }

    &-c {
      .process {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }

  .section-about {
    &-d {
      &__testimonials {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .section-work-a {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media(max-width: 600px) {
  .container {
    padding: 0 0.75rem;
  }

  .lead {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  .header__nav {
    flex-direction: column;
  
    .header__nav__logo {
      width: 50px;
      height: 50px;
    }
  
    .header__nav__menu {
      gap: 1rem;
  
      a {
        margin-left: 0;
      }
    }
  }

  .header__content {
    padding-top: 8rem;

    h1 {
      width: 14.25rem;
      margin: 0 auto 1rem;
      font-size: 2.5rem;
    }
  }

  .section-home {
    &-a {
      .specials {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
      }
    }

    &-b {
      .stats {
        grid-template-columns: repeat(1, 1fr);
  
        ul {
          &:nth-child(even) {
            background-color: $medium-color;
            color: set-text-color($medium-color);
          }
  
          &:nth-child(odd) {
            background-color: $light-color;
            color: set-text-color($light-color);
          }
        }

        li {
          &.stats__title {
            font-size: 1.25rem;
          }
  
          &.stats__number {
            font-size: 1.75rem;
          }
        }
      }
    }

    &-c {
      .process {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .section-about {
    &-a {
      &__info {
        grid-template-areas:
          'image'
          'bio'
          'award1'
          'award2'
          'award3';
        gap: 1rem;

        .info__bio {
          border: none;
        }
      }
    }

    &-c {
      padding: 3rem 0;
      &__logos {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
      }
    }

    &-d {
      padding: 3rem 0;
      &__testimonials {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }
    }
  }

  .section-work-a {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .section-contact {
    &-a {
      &__form {
        .form__group {
          flex-direction: column;
        }

        .input--message {
          height: 10rem;
        }
      }
    }
  
    &-b {
      &__info {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }
    }
  }
  
  .main-footer {
    &__content {
      flex-direction: column;
    }
  
    &__social {
      margin-bottom: 1.5rem;
      order: -1;
      gap: 0.85rem;
    }
  }
}

@media(max-height: 560px) {
  .header__content {
    padding-top: 3rem;

    p {
      margin-bottom: 1rem;
    }
  }
}

@media(max-height: 360px) {
  .header__content {
    padding-top: 1rem;

    h1 {
      width: 100%;
      margin: 0 auto 0.5rem;
      font-size: 1.5rem;
    }
  }
}