@import 'config';
@import 'utilities';
@import 'item_grid';

// General
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

img {
  width: 100%;
}

// Header
.header {
  &-home {
    min-height: 100%;
    background: $bg-img no-repeat center right / cover;
    color: #fff;
  }

  &-inner {
    min-height: 6rem;
    border-bottom: 3px solid $main-color;
    background: $bg-img no-repeat 20% 30% / cover;
    color: #fff;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .header__nav__menu {
    display: flex;

    a {
      margin-left: 1.5rem;
      padding: 1rem 0 0.5rem;
      border-bottom: 3px transparent solid;
      color: #fff;
      text-transform: uppercase;
      transition: border-color 0.3s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}

.header__nav__logo {
  width: 70px;
  height: 70px;
}

.header__content {
  text-align: center;
  padding-top: 6rem;

  h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .txt-type {
    position: relative;
  }
  
  .txt-type::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -4px;
    width: 1px;
    height: 90%;
    border-right: 2px solid white;
    animation: blink 1s infinite ease;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.section-home {
  // Home Section A
  &-a {
    .specials {
      margin-top: 3rem;
      @extend %grid-col-4;
      gap: 1rem;

      .fas {
        padding-bottom: 0.4rem;
        color: $main-color;
      }
    }
  }

  // Home Section B
  &-b {
    .stats {
      @extend %grid-col-4;

      ul {
        padding: 2rem 0 1rem;

        &:nth-child(even) {
          background-color: $medium-color;
          color: set-text-color($medium-color);
        }

        &:nth-child(odd) {
          background-color: $light-color;
          color: set-text-color($light-color);
        }
      }

      li {
        line-height: 2;

        &.stats__title {
          font-size: 1.5rem;
        }

        &.stats__number {
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }
  }

  // Home Section C
  &-c {
    .process {
      @extend %grid-col-4;
      gap: 1.5rem;

      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__icon-wrapper {
        @extend %flex-center;
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $medium-color;
        color: set-text-color($medium-color);
        transition-property: background-color, color, transform;
        transition-duration: 0.5s;

        .process__step {
          @extend %flex-center;
          position: absolute;
          top: 0;
          right: 0;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: $main-color;
          font-size: 1.5rem;
          font-weight: 600;
          transition-property: transform, font-size;
          transition-duration: 0.5s;
        }

        ~ h3 mark {
          padding-left: 6px;
          padding-right: 6px;
          background-color: transparent;
          -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
          transition: background-color 0.5s;
        }

        &:hover {
          background-color: $dark-color;
          transform: scale(1.1);

          .process__icon {
            color: set-text-color($dark-color);
          }
  
          .process__step {
            font-size: 2rem;
            transform: scale(1.1);
          }

          ~ h3 mark {
            background-color: $main-color;
            transition: background-color 0.5s;
          }
        }
      }
    }
  }
}

// About Section A
.section-about {
  &-a {
    &__info {
      display: grid;
      grid-template-areas:
        'image bio bio'
        'award1 award2 award3';
      gap: 1.2rem;

      .info__image {
        grid-area: image;
        height: 100%;
        object-fit: cover;
      }

      .info__bio {
        grid-area: bio;
        @extend %flex-center;
        flex-direction: column;
        padding: 0.8rem;
        border-left: 2px solid $main-color;
        background-color: $light-color;
        color: set-text-color($light-color);
      }

      .award-1 {
        grid-area: award1;
      }

      .award-2 {
        grid-area: award2;
      }

      .award-3 {
        grid-area: award3;
      }
      
      .info__award .fas {
        margin: 1rem;
        color: $main-color;
      }
    }
  }

  // About Section B
  &-b {
    background-color: $dark-color;
    color: set-text-color($dark-color);

    h4 {
      margin-bottom: 0.25rem;
    }

    &__progress {
      height: 1.25rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      background-color: $medium-color;
      overflow: hidden;

      .progress__bar {
        height: 100%;
        background-color: $main-color;
      }

      .skill-1 {
        width: 100%;
      }

      .skill-2,
      .skill-5 {
        width: 80%;
      }

      .skill-3,
      .skill-6 {
        width: 70%;
      }

      .skill-4 {
        width: 95%;
      }
    }
  }

  // About Section C
  &-c {
    background-color: $light-color;
    color: set-text-color($light-color);

    &__logos {
      @extend %grid-col-4;
      justify-items: center;
      gap: 2rem;

      img {
        width: 70%;
      }
    }
  }

  // About Section D
  &-d {
    &__testimonials {
      @extend %grid-col-4;
      gap: 1rem;

      p {
        margin-bottom: 1rem;
        padding: 0.75rem;
        border-radius: 4px;
        background-color: $light-color;
      }

      figure {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}

// Contact Section A
.section-contact {
  &-a {
    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      .form__group {
        display: flex;
        gap: 1rem;
      }
      
      .form__input {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        background-color: #fff;
        color: $dark-color;
        font-family: 'Dosis', sans-serif;
        font-size: 1rem;

        &::placeholder {
          color: $dark-color;
        }
      }

      .input--message {
        height: 100px;
      }

      .form__btn {
        margin: 4rem auto 2rem;
        width: 50%;
        font-family: 'Dosis', sans-serif;
        font-size: 1rem; 
      }
    }
  }
}

// Footer
.main-footer {
  background-color: $dark-color;
  color: set-text-color($dark-color);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    gap: 1rem;

    .social__link {
      @extend %flex-center;
      padding: 1rem;
      border: 2px solid $light-color;
      border-radius: 50%;
      color: set-text-color($dark-color);
      font-size: 1.25rem;
      transition: background-color 0.3s;

      &:hover {
        background-color: $main-color;
        color: set-text-color($main-color);
      }
    } 
  }
}