@import 'config';
@import 'utilities';

// General
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
}

a {
  color: $dark-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Header
.header {
  &-home {
    min-height: 100%;
    background: $bg-img no-repeat center right / cover;
    color: #fff;
  }
}

.header-home__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .header-home__nav__menu {
    display: flex;

    a {
      margin-left: 1.5rem;
      padding: 1rem 0 0.5rem;
      border-bottom: 3px transparent solid;
      color: #fff;
      text-transform: uppercase;
      transition: border-color 0.3s;

      &:hover {
        border-color: $medium-color;
      }

      &.current {
        border-color: $main-color;
      }
    }
  }
}

.header-home__nav__logo {
  width: 70px;
  height: 70px;
}