:root {
  --page-1-color: steelblue;
  --page-2-color: peru;
  --page-3-color: teal;
  --page-4-color: darkslateblue;
  --animate-speed: 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  overflow: hidden;
}

#page-1 {
  background-color: var(--page-1-color);
}

#page-2 {
  background-color: var(--page-2-color);
}

#page-3 {
  background-color: var(--page-3-color);
}

#page-4 {
  background-color: var(--page-4-color);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 4rem;
  text-align: center;
}

.page h1 {
  margin: 1rem 0;
  font-size: 4rem;
  line-height: 1.2;
}

.page p {
  font-size: 1.25rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: none;
  min-width: 200px;
  background-color: #f4f4f4;
  color: #333;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn-dark {
  background-color: #333;
  color: #f4f4f4;
}

.btn-dark:hover {
  background-color: #f4f4f4;
  color: #333;
}